html {
  font-family: 'Overpass', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* background: linear-gradient(to right, #f0f2f0, #000c40); */
  /* background: rgb(37, 58, 82) none repeat scroll 0% 0%; */
  background: url(bg.jpg);
  background-size: cover;
  background-position: right;
  min-height: 100%;
  flex-direction: column;
}

h1, h2, h3, h4, h5 {
  font-family: 'Permanent Marker', cursive;
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
  padding: 1rem 3rem;
  width: 650px;
  box-sizing: border-box;
  max-width: 100%;
  background: hsla(0, 0%, 100%, 0.9);
  border-radius: 5px;
}

form {
  margin: 1rem 0 1.5rem 0;
}

@media (max-width: 950px) {
  html {
    justify-content: flex-end;
  }
  body {
    margin: 0;
    width: 100%;
    border-radius: 0;
    flex: auto;
    justify-content: center;
  }
}
